<!DOCTYPE html>

<%-include ("./partials/head", {cssSheets: cssSheets}, {title: title}) %>

<body>
    <%-include("./partials/header") %>
    
<main>
    <sectionclass="banner100">
        
    </section>

</main>

</body>
</html>