<footer>
    <section class="footerflex100">
        <div class="logoMarcas99">
            <img src="/images/icono.jpg" alt="icono">
            <img src="/images/idraet.png" alt="idraet">
            <img src="/images/lidherma.png" alt="lidherma">

        </div>

        <div class="footerlinks99">
            <ul>
                <li><a href="https://www.instagram.com/daiestetic_/"><i class="fab fa-instagram"></i> @daiestetic_</a></li>
                <li><a href="https://www.facebook.com/Daiest%C3%A9tic-114313316974567"><i class="fab fa-facebook-square"></i> Daiestétic</a></li>
            </ul>
        </div>
    </section>

</footer>