<header class="header100">
    <section class="containerHeader99">

        <section class="logo98">
            <img id="logo" src="/images/logoV1.png" alt="LOGO">
        </section>

        <section class="menu98">
            <a href="#" class="opcionMenu97">Inicio</a>
            <a href="#" class="opcionMenu97">Sobre mí</a>
            <a href="#" class="opcionMenu97">Cómo comprar</a>
            <a href="#" class="opcionMenu97">Productos</a>
            <a href="#" class="opcionMenu97">Tratamientos</a>
            <a href="#" class="opcionMenu97">Contacto</a>

            
        </section>

        <article id="dropdown98art">
            <a class="dropdown97a"> 
                Menú <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="dropdown97ul">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre mí</a></li>
                <li><a href="#">Cómo comprar</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Tratamientos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </article>

    </section>

</header>