<header class="header100">
    <section class="contactinfo99">
        <h4>Contacto:  </h4>
        <h4><i class="fab fa-whatsapp"></i> 15111111111 </h4>
        <h4><i class="fab fa-instagram"></i> daiestetic_</h4>
        <h4><i class="fab fa-facebook-f"> </i>  Daiestétic</h4>
    </section>

    <section class="logoybuscador99">
        <img id="logo" src="/images/logosinfondo.png" alt="LOGO">

        <form action="/productos/todos" method="GET" class="search-bar-form">
            <input type="search" name="busqueda" placeholder="Buscar en la web">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

    </section>

</header>